body {
  margin: 0 auto;
  max-width: 900px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

nav a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  min-width: 100px;
}
.main {
  padding: 1rem;
}

nav a.active {
  background-color: #8c110b;
  font-weight: 500;
  color: white;
}

btn btn-primary {
  background-color: #2d253a;
}